*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: yellow;
    height: 500px;
}
ul{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    list-style-type: none;    
}
li{
    width: 150px;
    height: 150px;
    background: purple;
    margin-right: 10px;
}