*{
    margin: 0;
    padding: 0;
}
.layout{
    margin-top: 3%;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    background-color: yellow;
    height: 800px;
}
.header{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    background-color: purple;
    width: 1009px;
}
ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
}
ul li{
    display: flex;
    margin-right: 10px;
    width: 150px;
    height: 50px;
    background-color: rgb(0,255,255);
}
aside{
    background-color: green;
    width: 400px;
    margin-top: 100px;
    position: absolute;
    margin-left: 36%;
    height: 690px
}