*{
    margin: 0;
    padding: 0;  
}
.container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

/*1680 / 3 = 560*/

.item{ 
    width: 560px;
    height: 400px;  
}
.green{
    background: lightgreen;
}
.yellow{
    background: yellow;
}
.purple{
    background:purple;
}



